
body {margin: 0cm;
 
}

#esquerdacima {
    width: 100px;
		height: 100px; position: absolute;top: 0cm;left: 0cm;
		background-color:red}

#direitocima {
    width: 100px;
    height: 100px; position: absolute;top: 0cm;right: 0cm;
    background-color:yellow

}

#esquerdobaixo { width:100px;
    height: 100px; position: absolute;bottom: 0cm;left: 0cm;
    background-color:green


}

#direitobaixo {
    width: 100px;
    height: 100px; position: absolute;bottom: 0cm;right: 0cm;
    background-color:blue

}